In [13]:
import pandas as pd
import numpy as np
import re

In [14]:
from google.colab import drive
drive.mount('/content/drive')
with open('/content/drive/MyDrive/Clark_et_al_2022_PNAS_SM/foodDB_dat/products anonymised.csv', 'rb') as f:
    product_data = pd.read_csv(f,encoding="ISO-8859-1")
with open('/content/drive/MyDrive/Clark_et_al_2022_PNAS_SM/foodDB_dat/categories anonymised.csv', 'rb') as f:
    cat_data = pd.read_csv(f,encoding="ISO-8859-1")

data = pd.merge(product_data,cat_data, how='left', on=['product_id'])
data.dropna(axis=0,subset = ['ingredients_text'])

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (16) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,product_id,snapshot_id,product_list_name,product_name,url,ingredients_text,energy_per_100,fat_per_100,saturates_per_100,salt_per_100,...,serving,serving_data,serving_value,serving_unit,Retailer,name,main_category,department,aisle,shelf
0,11891023,1075,10892,11047,81696,Cheddar,NaN,34.9g,21.7g,1.8g,...,NaN,NaN,NaN,NaN,2918,2815,19,12,1715,192
1,11891023,1075,10892,11047,81696,Cheddar,NaN,34.9g,21.7g,1.8g,...,NaN,NaN,NaN,NaN,2918,2818,19,84,41,192
2,11891023,1075,10892,11047,81696,Cheddar,NaN,34.9g,21.7g,1.8g,...,NaN,NaN,NaN,NaN,2918,2819,19,84,455,192
3,11891024,1075,70699,71680,83821,"Butter (Milk), Salt (1.5%).",NaN,82.2g,52.1g,1.5g,...,10 g,NaN,10,g,2918,2815,19,12,1715,192
4,11891024,1075,70699,71680,83821,"Butter (Milk), Salt (1.5%).",NaN,82.2g,52.1g,1.5g,...,10 g,NaN,10,g,2918,3029,19,402,119,192
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
232324,11902756,1082,23607,23958,29925,"Mascarpone cream 50% [water, mascarpone 11% (M...",973 kj,13g,9.5g),0.14g,...,NaN,NaN,NaN,NaN,6511,3589,24,306,1715,192
232325,11902757,1082,23595,23946,29694,"Sauce 38.7% (fishandcrustaceanstock (water,FIS...",678 kj,16g,2.1g),0.52g,...,NaN,NaN,NaN,NaN,6511,3589,24,306,1715,192
232326,11902758,1082,23608,23959,29699,"Pecorino bÌ©chamel sauce 32% [water, skimmedMI...",505 kj,6.0g,3.1g),0.8g,...,NaN,NaN,NaN,NaN,6511,3589,24,306,1715,192
232327,11902759,1082,23603,23954,29697,"Tomato sauce 55.6% [tomato puree, onion, water...",539 kj,6.2g,2.7g),0.6g,...,NaN,NaN,NaN,NaN,6511,3589,24,306,1715,192
232328,11902760,1082,23591,23942,29692,"Clam salsa 44.4% (clam stock (MOLLUSCS), olive...",814 kj,20g,2.6g),0.33g,...,NaN,NaN,NaN,NaN,6511,3589,24,306,1715,192

In [3]:
# Unifing the data format
data.dropna(axis=0,subset = ['ingredients_text'])
data.ingredients_text = data.ingredients_text.apply(lambda x: str(x).replace('percent','%'))
data.ingredients_text = data.ingredients_text.apply(lambda x: str(x).replace(';',','))
data.ingredients_text = data.ingredients_text.apply(lambda x: str(x).replace('[','('))
data.ingredients_text = data.ingredients_text.apply(lambda x: str(x).replace(']',')'))
data.ingredients_text = data.ingredients_text.apply(lambda x: str(x).replace('{','('))
data.ingredients_text = data.ingredients_text.apply(lambda x: str(x).replace('}',')'))

data.ingredients_text = data.ingredients_text.apply(lambda x: str(x.lower()).replace(x[x.find('allergy advice'):],' '))

In [4]:
# Reading the search word
search_words = pd.read_csv('/content/drive/MyDrive/Clark_et_al_2022_PNAS_SM/Data Inputs/Search words 6April2020 try2.csv')
search_words.head()
search_words.Search_Words = search_words.Search_Words.apply(lambda X: re.split('\\|',X))

In [5]:
# Function to identify the sub-ingrediants in the ingrediant texts by counting their paratheses and put the result into list
def find_inside(text,i):
  if text.find('(',i) is not None:
      f_open = text.find('(',i)+1
  else: f_open = 0
  if text.find(')',f_open) is not None:
     close = text.find(')',f_open)
  else: close = 0
  while text[f_open:close].count('(') != text[f_open:close].count(')'):
    close = text.find(')',close+1)
  else: f_close = close
  return f_open,f_close

def inside_par (num_embedded,dat):
    text = dat.ingredients_text
    i = 0
    count = 0
    for j in range(num_embedded):
        open,close = find_inside(text,i)
        if open !=0 and close !=0:
          count += dat.ingredients_text[open:close].count(',')
          count_row = dat.ingredients_text[0:close].count(',') - count
          if count_row >=0:
            dat['string'+str(j)] = dat.ingredients_text[open:close]
            dat['ing_string'+str(j)] = count_row
        else: 
            break
        i = close+1
    return dat

In [37]:
l[2]

product_id                                                       11902758
snapshot_id                                                          1082
product_list_name                                                   23608
product_name                                                        23959
url                                                                 29699
ingredients_text        pecorino bì©chamel sauce 32% (water, s immedmi...
energy_per_100                                                     505 kj
fat_per_100                                                          6.0g
saturates_per_100                                                   3.1g)
salt_per_100                                                         0.8g
sugar_per_100                                                       3.2g)
carbohydrate_per_100                                                  11g
protein_per_100                                                      5.0g
fibre_per_100                                                        1.4g
serving                                                               NaN
serving_data                                                          NaN
serving_value                                                         NaN
serving_unit                                                          NaN
Retailer                                                             6511
name                                                                 3589
main_category                                                          24
department                                                            306
aisle                                                                1715
shelf                                                                 192
string0                 water, s immedmil powder,wheatflour, butter (m...
ing_string0                                                             0
string1                 tomato pulp 15.8%, water, sunflower oil, onion...
ing_string1                                                             1
string2                                     durumwheatsemolina, water,egg
ing_string2                                                             2
string3                 grilled courgette, grilled aubergine, semi-dri...
ing_string3                                                             3
string4                 mozzarella cheese (mil , salt, microbial renne...
ing_string4                                                             4
Name: 232326, dtype: object

In [7]:
#example
datatemp = data.iloc[-5:]
l = []
for row in range(len(datatemp)):
    a = inside_par(10,datatemp.iloc[row])
    l.append(a)

/usr/local/lib/python3.7/dist-packages/pandas/core/series.py:1056: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cacher_needs_updating = self._check_is_chained_assignment_possible()
/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1724: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer_missing(indexer, value)

In [25]:
#Function to find all targets inside a string
def find_all(sub,s):
	index_list = []
	index = s.find(sub)
	while index != -1:
		index_list.append(index)
		index = s.find(sub,index+1)
	
	if len(index_list) > 0:
		return index_list
	else:
		return -1

In [8]:
ret = np.unique(list(da.Retailer))
search_words = pd.read_csv('/content/drive/MyDrive/Clark_et_al_2022_PNAS_SM/Data Inputs/Search words 6April2020 try2.csv')
search_words.Search_Words = search_words.Search_Words.apply(lambda X: re.split('\\|',X))
for i in ret:
  d = data[data.Retailer==i]
  dep = np.unique(list(d.department))
  loops = len(dep)
  extract_embeding = 10
  for z in range(loops):
    data = d[d.department==dep[z]]
    l=[]
    for row in range(len(d)):
      x = inside_par(10,d.iloc[row])
      l.append(x)
    for i in range(len(l)):
      l[i].ingredients_text = l[i].ingredients_text.split(',',50)

NameError: ignored